<h1>
  <%= current_user.name %></br>
  <%= current_user.email %>  
</h1>
<p>
  <%= link_to "create new event", new_user_event_path(current_user) %>
</p>
<% if current_user.events.any? %>
  <span>
    You have <%= pluralize(@my_events_all.count, "event") %>
  </span>   
<% else %>
  You have 0 events
<% end %>
